@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0,0,0,0.05);
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

nav{
    width: 100%;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
    z-index: 100;
    background-color: white;
}

.information-header{
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    /* padding-left: 40px; */
}
.language a{
    margin: 0px 5px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.3rem;
}
.phone{
    color: rgba(0, 0, 0, 0.7);
    margin-left: 30px;
    font-size: 0.9rem;
}
.language a:hover{
    color: #FF792C;
    transition: all ease 0.3s;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 45px;
}
.logo img{
    height: 30px;
}
.menu{
    display: flex;
}
.menu li{
    position: relative;
    margin: 20px;
    display: flex;
    text-transform: uppercase;
    font-weight: 500;
}
.menu li a{
    color: rgba(0, 0, 0, 0.7);
}
.right-menu a{
    margin: 0px 10px;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.7);
}
.menu a:hover,
.right-menu a:hover,
.search-cancel:hover, 
.wrapper .content .tab_content .list-title li a:hover,
.wrapper .content .tab_content .news .news-content h4 a:hover,
.slider .slider-content .slider_tab_content .item-details .item-title:hover{
    color: #FF792C;
    transition: all ease 0.3s;
}

.search-bar{
    width: 100%;
    height: 260px;
    background-color: white;
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    box-shadow: 2px -5px 30px rgba(0, 0, 0, 0.1);
    z-index: 101;
    animation: search 0.3s;
}
.search-input{
    width: 90%;
    border-bottom: 2px solid #FF792C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-top: 20px;
}
.search-bar input{
    width: 100%;
    padding: 30px;
    border: none;
    outline: none;
    font-size: 1.5rem;
    margin: 10px;
    padding: 0px 20px;
}
.search-cancel{
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.5rem;
    padding-right: 40px;
}
.search-bar{
    display: none;
}
.search-bar-active{
    display: flex;
}
@keyframes search{
    0%{
        bottom: -260px;
    }
    100%{
        bottom: 0px;
    }
}

.full-slider-box{
    width:100%;
    height: 75vh;
    display: flex;
    padding: 1rem 5rem;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.f-slide-1{
    background-image: url(../img/slider/1.jpg);
}
.f-slide-2{
    background-image: url(../img/slider/2.png);
}
.f-slide-3{
    background-image: url(../img/slider/3.jpg);
}
.slider-text-container{
    width:80%;
    height: 90%;
    display: flex;
    align-items: center;
}
.f-slider-text{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}
.f-slider-text strong{
    color: #333333;
    font-size: 3rem;
    line-height: 55px;
    margin-top: 10px;
    letter-spacing: 1px;
}
.f-slider-text span{
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 500;
    color: #666666;
    font-size: 1.2rem;
}
.f-slider-btn{
    width:170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #FF792C;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 14px;
    border-radius: 5px;
}
.f-slider-text strong font{
    color: #FF792C;
}

.fix-nav{
    width:100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #ffffff;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.05);
    z-index: 102;
}

.wrapper{
    width: 600px;
    margin: 50px;
} 
.wrapper .tabs ul{
    width: 100%;
    height: 45px;
    padding: 0;
    margin: 0px;
    display: flex;
}
.wrapper .tabs ul li{
    width: 28%;
    height: 45px;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF792C;
    font-size: 0.9rem;
    letter-spacing: -1.2px;
    font-weight: 400;
    transition: all 0.3s ease;
}
.wrapper .tabs ul li:hover{
    background-color: rgba(0, 0, 0, 0.05);
} 
.wrapper .tabs ul li:first-child{
    border-top-left-radius: 3px;
}
.wrapper .tabs ul li:last-child{
    border-top-right-radius: 3px;
}
.wrapper .content{
    padding: 20px;
    background-color: white;
    /* animation: fade 1s; */
}
.wrapper .content .tab_content .list-title {
    padding: 10px;
    margin: 0px;
}
.wrapper .content .tab_content .list-title li{
    font-size: 0.9rem;
    padding: 5px 10px;
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    letter-spacing: -0.7px;
}
.wrapper .content .tab_content .list-title li a{
    color: rgba(0, 0, 0, 0.7);
}

/* .wrapper .content .tab_content .list-title li a:hover{
    color: #FF792C;
    transition: all ease 0.3s;
} */

.wrapper .content .tab_content .news{
    display: flex;
    padding: 10px 0px;
}
.wrapper .content .tab_content .news .news-img img{
    width: 220px;
}
.wrapper .content .tab_content .news .news-img:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.wrapper .content .tab_content .news .news-content{
    padding: 0px 8px 0px 20px;
}
.wrapper .content .tab_content .news .news-content h4{
    margin: 0px;
}
.wrapper .content .tab_content .news .news-content h4 a{
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: -1px;
}
.wrapper .content .tab_content .news .news-content ul{
    padding: 0 20px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    letter-spacing: -1px;
}
.wrapper .content .tab_content .news .news-content p{
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.9);
}
.wrapper .tabs ul li.active{
    border-top: 5px solid #FF792C;
    margin-top: -5px;
    height: 50px;
    background: white;
    color: rgba(0, 0, 0, 0.7);
    padding-top: 9px;
}

.slider{
    width: 93% !important;
    margin: 50px;
    background-color: #f8b965;
    padding-bottom: 30px;
    /* overflow: hidden;
    break-inside: avoid-column; */
} 
.slider .slider-tabs ul{
    width: 100%;
    height: 45px;
    padding: 0;
    margin: 0px;
    display: flex;
}
.slider .slider-tabs ul li{
    width: 15%;
    height: 45px;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.9);
    font-size: 1.2rem;
    letter-spacing: -1.2px;
    font-weight: 500;
    transition: all 0.3s ease;
}
.slider .slider-tabs ul li:hover{
    color: rgb(250, 240, 240);
}
.slider .slider-content{
    display: flex;
    padding: 20px;
    background-color: #f8b965;
    /* animation: fade 1s; */
}
.slider .slider-content .slider_tab_content .item-wrap{
    width: 220px;
    background-color: white;
    padding-bottom: 20px;
    margin: 0 8px;
    border-radius: 5px;
}

.slider .slider-content .slider_tab_content .container .item-wrap .item-img{
    position: relative;
}

.slider .slider-content .slider_tab_content .container .item-wrap .item-img img{
    width: 100%;
    object-fit: contain;
    object-position: center;
    padding: 10px 20px;
    display: block;
}
.slider .slider-content .slider_tab_content .container .item-wrap .item-img .link .fa-link{
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.5rem;
    display: none;
}
.slider .slider-content .slider_tab_content .item-wrap .item-img img:hover{
    transform: scale(0.9);
    opacity: 0.7;
    transition: 0.3s;
}
.item-img .link img:hover .fa-link{
    display: flex;
}
.slider .slider-content .slider_tab_content .item-details .item-title{
    font-size: 1rem;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: -1px;
}
.slider .slider-content .slider_tab_content .item-details .desc{
    font-size: 0.9rem;
    height: 145px;
    padding: 0 5px;
    display: block;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: -1px;
    overflow: hidden;
}
.slider .slider-content .slider_tab_content .container{
    width: 100%;
    margin: 0;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider .slider-content .slider_tab_content .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    columns: 5;
}
.slider .slider-content .slider_tab_content #autoWidth{
    display: flex;
    justify-content: center !important;
    margin: 10px auto 0px auto;
}
.slider .slider-tabs ul li.active{
    color: rgb(250, 240, 240);
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.toggle{
    display: none;
}
@media(max-width:1010px){
    nav{
        position: relative;
    }
    .navigation{
        height: 80px;
    }
    .fix-nav{
        height: 80px;
    }
    .menu{
        position: absolute;
        top: 110px;
        left: 0px;
        background-color: #ffffff;
        border-bottom: 4px solid #0b9d8a;
        width: 100%;
        padding: 0px;
        margin: 0px;
        z-index: 102;
        flex-direction: column;
        display: none;
 
    }
    .fix-nav .menu{
        top: 80px;
    }
    .menu li{
        width:100%;
        margin: 0px;
        padding: 0px;
    }
    .navigation .menu li a{
        width:100%;
        height: 50px;
        display: flex;
        align-items: center;
        margin: 0px;
        padding: 25px;
        border: 1px solid rgba(0,0,0,0.03);
    }
    .sale-lable{
        display: none;
    }
    .toggle{
        display: block;
    }
    .toggle:before{
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 30px;
        z-index: 1;
        cursor: pointer;
    }
    .toggle.active:before{
        content: '\f00d';
    }
    .navigation.active .menu{
        display: block;
    }
    .full-slider-box,
    .banner-box{
        height: 45vh;
    }
    .f-slider-text span,
    .banner-text span{
        font-size: 0.9rem;
    }
    .f-slider-text strong,
    .banner-text strong{
        font-size: 2rem;
        line-height: 40px;
    }
    .search-input{
        height: 60px;
    }
    .search-input input,
    .search-cancel{
        font-size: 1.4rem;
    }
}
@media(max-width:600px){
    .navigation{
        padding: 10px;
    }
    .f-slider-text strong,
    .banner-text strong{
        font-size: 1.2rem;
        line-height: 25px;
    }
    .full-slider-box,
    .banner-box{
        height: 30vh;
    }
    .f-slider-text span,
    .banner-text span{
        font-size: 0.8rem;
    }
    .f-slider-btn,
    .banner-btn{
        width:120px;
        height: 30px;
        font-size: 0.8rem;
    }
}

